<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Addin Project</Name><AddInID>{1c19f2f5-f845-413f-9a3f-58618de85da1}</AddInID><Description>Combo box for Project</Description><Version>0.1</Version><Image /><Author>Keyur Kulkarni</Author><Company>Untitled</Company><Date>12/08/2015</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Addin_Project_addin.py" namespace="Addin_Project_addin"><ArcMap>
    <Commands>
        <Button caption="Show Tweets" category="Addin Project" class="ButtonClass1" id="Addin_Project_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <ComboBox caption="Select Candidate" category="Addin Project" class="ComboBoxClass2" id="Addin_Project_addin.combobox" itemSizeString="WWWWWW" message="" rows="4" sizeString="WWWWWW" tip=""><Help heading="" /></ComboBox>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Twitter" category="Addin Project" id="Addin_Project_addin.toolbar" showInitially="true"><Items><Button refID="Addin_Project_addin.button" /><ComboBox refID="Addin_Project_addin.combobox" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>